---
meta:
    description:
        AWS Lambda microservice

    parameters:
        dynamodb_capacity:
            description:
                The read and write capacity for the Lambda state table(s)
            value:
                read: 5
                write: 5

        rest_api_id:
            value:

        parent_resource_id:
            value:

        api_resources:
            value:
                {% for resource in resources %}
                -
                  lambda_function:
                    $lambda:
                        path: lambda_function
                        dependencies: {{resource.lambda_dependencies}}
                        handler: {{resource.handler}}
                  {% for k, v in resource.items() %}
                  {% if k not in ('lambda_dependencies', 'handler') %}
                  {{k}}: {{v}}
                  {% endif %}
                  {% endfor %}
                {% endfor %}
