---
humilis-microservice:
    description:
        A dummy environment used for testing the microservice plugin.

    layers:
        - layer: microservice
          layer_type: microservice
          resources:
              - description: "Returns request payload plus a timestamp"
                path: echo
                api_key_required: yes
                lambda_dependencies:
                    - user-agents
                    - mycode/mypkg
                handler: "mypkg:handler"
                request_parameters:
                  "querystring.ip": yes
